*{
  background-color: #f9fafb;
  margin: 0%;
  padding: 0;
}
.container {
  position: relative;
  left: 450px;
  top: 60px;
}
.line {
  border-bottom: 0px solid gray;
  margin: 8px;
  color: rgb(71, 156, 108);
  width: 3%;
}
.watch-live {
  text-decoration: none;
  color: orange;
  font-family: serif;
  font-style: italic;
  font-size: 120%;
}
.election {
  text-decoration: none;
  margin-left: -10px;
  font-family: serif;
  font-style: italic;
  font-size: 120%;
}
.pak-iran {
  text-decoration: none;
  margin-left: -40px;
  font-family: serif;
  font-style: italic;
  font-size: 120%;
}
.container2 {
    position: relative;
    margin-top: 40px;
    top: -110px;
    left: 650px;
}
.logo {
  margin-left:100px;
  height: 130px;
  width: 80px;
}
.date {
  margin-top: 5px;
  font-family: monospace;
}
.container3 {
  position: relative;
  margin-right: 200px;
  margin-top: -125px;
  top: -110px;
  left: 1050px;
}
.urdu{
  text-decoration: none;
  margin-left: 21px;
  color: orange;
  font-family: serif;
  font-style: italic;
  font-size: 120%;
}
.petrol-price{
  text-decoration: none;
  margin-left: -10px;
  font-family: serif;
  font-style: italic;
  font-size: 120%;
}
.hamas-israel-attack{
  text-decoration: none;
  margin-left: -30px;
  font-family: serif;
  font-style: italic;
  font-size: 120%;
}
.container4 {
  position: relative;
  top: -75px;
  border: solid black;
}
.latest {
  color: #000000;
  text-decoration: none;
  font-weight: 900;
  font-size: 25px;
  position: relative;
  margin-left: 300px;
  top: 10px;
}
.pakistan {
  color: #000000;
  text-decoration: none;
  font-weight: 900;
  font-size: 25px;
  position: relative;
  top: -18px;
  margin-left: 440px;
}
.world{
  color: #000000;
  text-decoration: none;
  font-weight: 900;
  font-size: 25px;
  position: relative;
  top: -45px;
  margin-left: 608px;
}
.business{
  color: #000000;
  text-decoration: none;
  font-weight: 900;
  font-size: 25px;
  position: relative;
  top: -72px;
  margin-left: 745px;
}
.sports{
  color: #000000;
  text-decoration: none;
  font-weight: 900;
  font-size: 25px;
  position: relative;
  top: -99px;
  margin-left: 1070px;
}
.lifestyle {
  color: #000000;
  text-decoration: none;
  font-weight: 900;
  font-size: 25px;
  position: relative;
  top: -125px;
  margin-left: 1205px;
}
.videos {
  color: #000000;
  text-decoration: none;
  font-weight: 900;
  font-size: 25px;
  position: relative;
  top: -152px;
  margin-left: 1420px;
}
